<!DOCTYPE html>
<html>
    <head>
        <title> MoodLocator </title>
        <!-- Use Stylesheet -->     <link rel='stylesheet' href='/stylesheets/style.css'>
        <!-- Use GoogleMapsAPI -->  <script 
                                        type="text/javascript" 
                                        src="https://maps.googleapis.com/maps/api/js?sensor=false">
                                    </script>
        <!-- Use GooglePlaces -->   <script 
                                        type="text/javascript" 
                                        src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
                                    </script>
        <!-- Use Socket.IO -->      <script 
                                        type="text/javascript" 
                                        src="/socket.io/socket.io.js">
                                    </script>
        <!-- Use JQuery -->         <script 
                                        type="text/javascript" 
                                        src="//code.jquery.com/jquery-1.11.0.min.js">
                                    </script>
    </head>


    <body onload="initialize()">

        <div id="divGoogle">
            <div id="divGoogleContainer">
                <div id="name"> </div>
                <div id="text"> </div>
            </div>
        </div>

        <input id="pac-input" class="controls" type="text" placeholder="Enter City here">
        <div id="map_canvas"></div>

        <div id="footer">
            <div id="watson_footer">
                <div id="watson_header"> Watson </div>
                <div id="cityContainer" class="shadow"> 
                    <div id="firstCity">
                        <div id="firstCityName">Choose City</div>
                        <div id="firstCityProgressBar"> 
                            <div id="firstCityProgressBarOuter">
                                <div id="firstCityProgressBarPercent">50%</div> 
                                <div id="firstCityProgressBarInner"></div> 
                                <div id="firstCityStyleProgressBar"></div> 
                            </div>
                        </div>
                    </div>

                    <div id="secondCity">
                        <div id="secondCityName">Choose City</div>
                        <div id="secondCityProgressBar"> 
                            <div id="secondCityProgressBarOuter">
                                <div id="secondCityProgressBarPercent">50%</div> 
                                <div id="secondCityProgressBarInner"></div> 
                                <div id="secondCityStyleProgressBar"></div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

   
            <div id="menu_footer"> 
                <div id="menu_header"> 
                    <div id="menu_header_container"> 
                        <input type="button" id="buttonLeft" value="" onclick="changeButtomValue('-');">
                        <input type="button" id="buttonRight" value="" onclick="changeButtomValue('+');">
                    </div>
                </div>
                <div id="menuContainer">
                    <div id="menuButtons">
                        <div id="row1">
                            <input type="button" id="button1" value="" onclick="selectWatsonValue(1);" class="buttonStyle">
                            <input type="button" id="button2" value="" onclick="selectWatsonValue(2);" class="buttonStyle" >
                            <input type="button" id="button3" value="" onclick="selectWatsonValue(3);" class="buttonStyle" >
                        </div>
                        <div id="row2"> 
                            <input type="button" id="button4" value="" onclick="" class="buttonStyle" >
                            <input type="button" id="button5" value="" onclick="selectWatsonValue(5);" class="buttonStyle" >
                            <input type="button" id="button6" value="" onclick="selectWatsonValue(6);" class="buttonStyle" >
                        </div>
                        <div id="row3"> 
                            <input type="button" id="button7" value="" onclick="selectWatsonValue(7);" class="buttonStyle" >
                            <input type="button" id="button8" value="" onclick="selectWatsonValue(8);" class="buttonStyle" >
                            <input type="button" id="button9" value="" onclick="selectWatsonValue(9);" class="buttonStyle" >
                        </div>
                    </div>
                </div>
            </div>

            <div id="information_footer"> 
                <div id="section1" class="section"> </div>
                <div id="section2" class="section"> </div>
                <div id="section3" class="section"> </div>
                <div id="section4" class="section"> </div>
            </div>
        </div>

        <!-- Use MyScript -->       <script 
                                        type="text/javascript"
                                        src='/scripts/script.js'>
                                    </script>
    </body>
</html>